*{
    box-sizing: 0 border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: aqua;
    width: 1200px;
    height: 185px;
}
nav{
    background-color: chartreuse;
    width: 1200px;
    height: 70px;
}
aside{
    background-color: chocolate;
    width: 280px;
    height: 1000px;
    float: left;
}
section{
    background-color: cornflowerblue;
    width: 920px;
    height: 1000px;
    float: right;
}
footer{
    background-color: crimson;
    width: 1200px;
    height: 200px;
    clear: both;
}

#caixa{
    width: 1200px;
    margin:0 auto;
}
