*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    
}

h4{
    color: rgb(139, 79, 243); 
    
}
#title{
    color: rgb(139, 79, 243);
    text-align: center;
    
}

#caixa{
    width: 55%;
    margin: 0 auto;
}
#Imagem{
    
    width: 20%;
    float: right;
    margin-right: 16%;
    
}
#js{
    width: 55%;
    float: left;
    padding: 10px;
}
#ui{
    width: 33.3%;
    float: left;
    padding: 10px;
}
#sass{
    width: 33.3%;
    float: left;
    padding: 10px;
}
#wd{
    width: 33.3%;
    float: left;
    padding: 10px;
}
@media (max-width: 600px){
    #container{
        background-color: rgb(71, 71, 99);
    }
    #title{
        color: white;
    }
    h4 {
        color: white;
    }
    #caixa {
        width: 100%; 
    }
    #Imagem {
        display: none;
    } 
    #js{
        width: 90%; background-color: rgb(140,79,243); margin-left: 5%;
    }
    #ui {
        width: 90%; margin-left: 5%;
    }
    #sass {
        width: 90%;background-color: rgb(140,79,243);margin-left: 5%;
    }
    #wd {
        width: 90%;margin-left: 5%;
    }
}
    

